* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#container {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px 2px black, 0 0 2px black;
  justify-content: center;
  align-items: center;
}
img {
  width: 40%;
  height: auto;
}
